<h1>Mail App</h1>

<div class="app">
  <div class="folder">
    <ul class="menu">
      <li routerLinkActive="active" routerLink="/inbox">Inbox</li>
      <li routerLinkActive="active" routerLink="/drafts">Drafts</li>
    </ul>
  </div>

  <content>

    <mat-drawer-container [className]="'full-height'">
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>

      <mat-drawer mode="side" position="end" opened>
        <div class="bb-popup-container">
          <router-outlet name="popup"></router-outlet>
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </content>


</div>
